{
  "presets": ["react-native","babel-preset-expo","babel-preset-react-native"],
  "env": {
    "development": {
        "plugins": ["transform-react-jsx-source"]
      },
      "production": {
        "plugins": ["react-native-paper/babel"]
      }
  }
}
